* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

/* nav-bar start */
.nav-bar {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 9999;
    background-color: #ffffff;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 105px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 20px 32px;
}
.menu, .social-media {
    width: 33%
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
}

ul.menu-list {
    margin: 0;
    padding: 0;
}

ul.menu-list li a{
    text-decoration: none;
    color: black;
}

.logo {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    height: 50px;
    width: auto;
    left: -30%;
    transform: translate(30%);
}
.social-media {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
ul.social-media-list {
    padding: 0;
    margin: 0;
}

.allsignform {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.allsignform button {
    border: none;
    background-color: #ffffff;
    color: #7f7f7f;
    white-space: nowrap;
}
/* .sign-up {
    display: none;
    z-index: 1000;
} */

/* nav-bar end */

/* Sign-up-form start */
#signupform {
    display: none;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(NESTSPACEDESIGN-cover-5.jpg);
    background-size: cover;
    top: 0%;
    background-position: 50%;
}
.sign-up {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.6);
    /* box-shadow: 0px 0px 2px 2px rgba(255,255,255); */
    width: 350px;
    height: 480px;
    padding-left: 45px;
}
.form-group {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}
.form-group h2 {
    border-bottom: 1px solid #A8A6A1;
    padding-bottom: 4px;
    /* padding-top: 50px; */
    text-shadow: #2b2000 1.5px 1.5px 1.5px;
    color: #fae277;
}
.line {
    border-bottom: 1px solid #A8A6A1;
}
.sign {
    border: none;
    background-color: #4cc63efc;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
}
.close {
    display: flex;
    justify-content: end;
    align-items: center;
    /* position: absolute; */
}
.close button {
    border: 0.5px solid;
    background-color: #c19f07e2;
    color: #ffffff;
    border-radius: 50%;
    padding: 0;
    width: 26.5px;
    height: 26.5px;
}
/* Sign-up-form end */

/* Sign-in-form start */
#signinform {
    display: none;
}
.sign-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.6);
    width: 320px;
    height: 400px;
    padding-left: 45px;
}
.in-button {
    background-color: rgb(45, 151, 217);
}
#signinnotice {
    text-align: center;
    color: red;
    margin-top: 20px;
    width: 230px;
}
.welcome {
    margin-left: 25px;
    font-style: italic;
    color: #7f7f7f;
}
/* Sign-in-form end */

/* Slider start */
.carousel-item img {
    width: 100%; 
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.carousel-inner {
    position: relative;
}
.more-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    padding: 10px 50px;
    border: none;
    opacity: 0.7;
    transform: translate(-50%, -50%);
}
.more-btn a {
    text-decoration: none;
    color: black;
}
/* Slider end */

/* Quote start */
.quote {
    width: 100vw;
    padding: 56px 30px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.quote-container {
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/* Quote end */

/*Selected projects start */
.project-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.project-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.project-header p {
    font-style: italic;
    margin: 0;
    padding: 0 34px;
    white-space: nowrap;
}
.project-line {
    border-top: 1px solid;
    width: 100%;
}

.project-collection {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.project-collection .project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-item {
    justify-content: center;
    align-items: center;
    position: relative;
}
.project-collection .project-item .project-img img {
    display: block;
    width: 100%;
    height: auto;
}
.project-img {
    position: relative;
    width: 55%
}
.project-collection .project-item .project-img svg {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
}
/* .project-img:hover svg {
    opacity: 1;
    pointer-events: auto;
} */

.project-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
    margin-left: 0
}
.see-more-btn {
    border: none;
    background-color: #A8A6A1;
    padding: 10px 16px;
    width: 40%;
}
.see-more-btn a {
    color: #ffffff;
    text-decoration: none;
}
.row-reverse {
    flex-direction: row-reverse;
}
.project-footer {
    text-align: center;
    padding-bottom: 45px;
}
.project-footer a{
    color: #A8A6A1;
    font-size: 23px;
}
/*Selected projects end */

/* Slider-Contact start*/
.slider-contact {
    background-image: url("tailoring.jpg");
    width: 100%;
    height: 489px;
    background-size: cover;
    margin-bottom: 30px;
    padding: 0;
    background-position: 50% 68%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.title p {
    font-size: 34px;
    color: #ffffff;
}
.contact-btn {
    background-color: #ffffff;
    opacity: 0.7;
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
}
.contact-btn a {
    text-decoration: none;
    color: black;
}
body {
    overflow-x: hidden;
}
/* Slider-Contact end*/

/* Footer start */
.footer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: center;
}
.contact-footer-item {
    margin: 0;
    padding: 0;
}
.contact-footer-item li a{
color: #A8A6A1;
}
.slogan p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
/* Footer end */

/* Responsive start*/
@media only screen and (max-width: 800px) {
.menu {
    display: none
}
.m-line-item {
    border-top: 1px solid;
}
.m-mobile {
    display: block;
}
.m-mobile-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 35px;
}
.logo {
    width: 100%;
}
.social-media {
    display: none;
}
.allsignform {
    display: none;
}
}
@media only screen and (max-width: 767px) {
.logo img {
    height: 30px;
    width: auto;
}
.logo {
    width: 100%;
}
}
@media only screen and (min-height: 1024px) {
    .quote-container {
        width: 100%;
    }
    .project-item {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .project-img {
            position: relative;
            width: 100%;
    }
    .project-container {
        width: 90%;
    }
}
/* Responsive end */